@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.container
		max-width: 100%
// ≥992px
+media-breakpoint-down(md)
	.main--news
		height: 50vh
	.procedure-advantages
		grid-gap: 20px
	.goals
		margin-bottom: 40px
	.btn-list
		margin-bottom: 50px
	.goals-caption, .procedure-caption
		font-size: 26px
	.goals-content
		font-size: 18px
	#pageMap
		height: 280px
	.contacts-list
		flex-direction: column
	.contacts-list-item
		margin-right: 0
		&:not(:last-child)
			margin-bottom: 15px
		.contacts-list-label
			font-size: 20px
		.contacts-list-content
			font-size: 20px
	.contacts-list
		margin-bottom: 25px			
	.single-news-wrap
		margin-bottom: 40px
	.single-news-content
		font-size: 17px
	.news-slider, .single-news-date, .slick-dotted.slick-slider
		margin-bottom: 30px
	.news-col
		.news-col-list
			display: grid
			grid-template-columns: repeat(2, 1fr)
			grid-gap: 20px
			.news-list-item
				margin-bottom: 0
	.copyright
		margin-top: 50px
	.footer-content
		flex-wrap: wrap
		.footer-item-contacts, .footer-content .footer-item-nav
			width: 50%
	.footer-content .footer-item-map
		margin-top: 40px
		width: 100%
	.tabs-news .tabs-news-item .tabs-news-caption, .tabs-doc .tabs-doc-item
		font-size: 18px
	.tabs-doc .tabs-doc-item .tabs-doc-format
		font-size: 16px
	.tabs .tabs-item
		padding-top: 30px
		padding-bottom: 30px
		&.tab-one, &.tab-three
			padding-right: 30px
		&.tab-two, &.tab-four
			padding-left: 30px
	.tabs-appeal .tabs-appeal-img img
		max-width: 140px
	.tabs-caption
		font-size: 22px
	.header
		font-size: 14px

	.header-menu nav > ul > li
		margin: 0 8px
	.logo-wrap .logo-img img
		max-height: 50px
	.logo-wrap .logo-text
		margin-left: 10px
		font-size: 12px
	.header-contacts
		font-size: 16px
	.main .h1
		font-size: 38px
		margin-bottom: 40px
	.main-bg
		opacity: .5
	.section-caption
		margin-bottom: 30px
		.h2
			line-height: 1.2
			font-size: 28px
	.members-slider
		padding: 0
	.standart-section
		padding: 35px 0
	.news-list-item
		.news-list-caption
			font-size: 20px
		.news-list-date, .news-list-link 
			font-size: 16px
	.news-list-page
		grid-template-columns: repeat(2, 1fr)
		grid-gap: 25px
// ≥768px
+media-breakpoint-down(sm)
	.procedure-list .procedure-list-item::before
		margin-right: 10px
		font-size: 20px
		line-height: 32px
		height: 35px
		width: 35px
	.procedure-list
		font-size: 19px
	.procedure-icon img
		max-width: 35px
	.procedure-block
		margin-bottom: 40px
	.procedure-advantages .procedure-text
		font-size: 16px
	.procedure-advantages
		grid-template-columns: repeat(1, 1fr)
	.news-list-page
		grid-template-columns: repeat(1, 1fr)
		grid-gap: 30px
	.footer-item-map
		order: 1
	.footer-item-nav
		order: 2
		.footer-nav-caption
			margin-bottom: 10px
	.footer-content .footer-item:not(:last-child)
		padding-right: 0
	.copyright
		margin-top: 0px
	.footer
		.logo-text
			display: block
			font-size: 20px	
			margin-left: 20px
		.logo-wrap .logo-img img
			max-height: 120px
	.footer-content .footer-item-map, .footer-content .footer-item-contacts, .footer-content .footer-item-nav
		width: 100%
		margin-bottom: 40px
	.footer-content .footer-item-map
		margin-top: 0
	.tabs-caption, .tabs-appeal .tabs-appeal-text .tabs-appeal-description
		margin-bottom: 15px
	.tabs-block-text, .tabs-news, .tabs-doc
		margin-bottom: 25px
	.tabs-section .container
		padding: 0
	.tabs
		grid-template-columns: repeat(1, 1fr)
	.tabs .tabs-item.tab-four, .tabs .tabs-item.tab-two, .tabs .tabs-item.tab-one, .tabs .tabs-item.tab-three
		padding: 35px 15px
	.tabs .tabs-item::before
		width: 100%
	.main .h1
		font-size: 30px
		margin-bottom: 30px
	.header-menu-desc, .header-contacts-desc, .logo-text
		display: none
	.header-menu-mob
		display: block
	.tabs-doc .tabs-doc-item::before
		display: none
	.tabs-doc .tabs-doc-item
		flex-wrap: wrap
		.tabs-doc-format
			margin-top: 7px
			margin-left: 0
			width: 100%
// ≥576px
+media-breakpoint-down(xs)
	.btn-list
		.btn
			width: 100%
			&:not(:last-child)
				margin-bottom: 15px
	.inner-main
		height: 75vh
	.news-col
		.news-col-list
			display: grid
			grid-template-columns: repeat(1, 1fr)
			grid-gap: 20px
			margin-bottom: 40px
			.news-list-item
				margin-bottom: 0
	.tabs-appeal
		flex-direction: column
	.tabs-appeal .tabs-appeal-img
		margin: 0 auto 25px auto
		img
			width: 100%
			max-width: 350px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
